*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#profile{
    max-width: 60%;
    max-height: 60%;
    transform: rotate(90deg);
    border-radius: 50%;
}

#picture{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

#name{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: center;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar{
    font-size: 150%;
}

.navbar ul {
    position: fixed;
    top: 10%;
    left: 40%;
    background-color: #aacbff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar li {
    display: inline;
    margin: 4vw;
}

a{
    text-decoration: none;
    font-weight: bold;
}

/* unvisited link */
.navbar a:link, a:visited{
   color: #8130f2;
}

/* mouse over link */
.navbar a:hover {
   color: #dd25cb;
   padding-top: 22px;
}

/* selected link */
.navbar a:active {
   color: blue;
}

#description{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 7vh;
    align-self: center;
}

#experience{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 0.3fr);
    font-size: 3vh;
    align-self: center;
    border-right: white solid 3px;
}

#ETitle{
    grid-column-start: 2;

}

#EList{
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    color: #edeff2;
    text-indent: 50px;
}

#skill{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 0.3fr);
    font-size: 3vh;
    align-self: center;
}

#STitle{
    grid-column-start: 2;
}

#SList{
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    color: #edeff2;
    text-indent: 50px;
}

#gallery{
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end:-1;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
    margin: 80px;
}

.projectname{
    border: 5px solid #fff;
    border-bottom: 0px;
    margin: 20px;
    margin-bottom: 0px;
    text-align: center;
    background-color: #fff;
}

.projectdesc {
    border: 5px solid #fff;
    margin: 20px;
    margin-top: 0px;
    font-size: 100%;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    background-color: #6D7CE5;
}

.projectdesc img{
    max-width: 100%;
    max-height: 100%;
}

.title{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    font-size: 80px;
    text-align: center;
    align-self: center;
}

#resume{
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end:-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 80px;
}

.list{

}
