@import "Config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $PrimearyColor;
    font-family: Orbitron;
    cursor: default;
    font-weight: normal;
}

.App {
    background: $BackgroundColor;
}

nav {
    width: 100%;
    color: $PrimearyColor;
    background-color: rgba(#1a1a22, 0.62);
    position: fixed;
    padding: 90px 20px 20px 0px;
    display: flex;
    z-index: 2;
    justify-content: flex-end;

    .ScrollLink {
        margin-right: 3rem;
        h4 {
            padding: 9px;
            border-radius: 5px;
            display: inline;
            font-size: 1.5rem;
            border: 4px solid rgba(0, 0, 0, 0);

            &:hover {
                border: 4px solid #b8c6d3;
                background-color: #333232;
                color: #b8c6d3;
                box-shadow: inset 0 0 10px $SecondaryColor;
            }
        }
    }

    .hideBtn {
        display: none;
    }
}

.Home {
    height: 100vh;
    padding: 5rem;
    background: url("../images/Profile/IMG_2338_no_background.png") no-repeat,
        radial-gradient(#303035 5%, #000014 95%);
    background-size: 55vw 75vh, 100%;
    background-position: right bottom;

    .Logo {
        display: flex;
        align-items: center;

        img {
            width: 3rem;
            max-width: 100%;
            height: 100%;
            z-index: 3;
        }

        h5 {
            height: 100%;
            font-size: 1.2rem;
            z-index: 3;
        }
    }

    .desc {
        font-size: 1.5rem;
        line-height: 5rem;
        margin-top: 10rem;
        cursor: default;

        span {
            display: block;
        }

        h1 {
            display: inline;
        }

        h2 {
            display: inline;
            color: rgba($color: $PrimearyColor, $alpha: 0.7);
        }

        img {
            width: 100%;
            object-fit: contain;
        }

        // text glowing effect
        .myName {
            animation: glow 2500ms linear infinite 2000ms;
            font-weight: bold;
            font-size: 3em;
            display: inline;
        }

        @keyframes glow {
            40% {
                text-shadow: 0 0 10px #fff;
            }
        }
    }

    .buttons {
        margin-top: 5rem;
        position: absolute;
        right: 10vw;

        button {
            padding: 1rem;
            border-radius: 10px;
            font-size: 1.5rem;
            font-weight: bold;

            &.work {
                border: 4px solid $PrimearyColor;
                background: $PrimearyColor;
                color: $BackgroundColor;
                box-shadow: 2px 2px 5px rgba($PrimearyColor, 0.5);
                margin-right: 5rem;
            }

            &.contact {
                border: 4px solid $PrimearyColor;
                background: $PrimearyColor;
                color: $BackgroundColor;
                box-shadow: 2px 2px 5px rgba($PrimearyColor, 0.5);
            }

            &:hover {
                border: 4px solid #b8c6d3;
                background-color: #333232;
                color: #b8c6d3;
                box-shadow: inset 0 0 10px $SecondaryColor;
                cursor: pointer;
            }
        }
    }
}

.About {
    background-image: radial-gradient(#303035 5%, #000014 95%);
    display: flex;
    flex-flow: column;
    padding: 5vw;
    font-family: Montserrat;

    .about-title {
        align-self: baseline;
        z-index: 2;
    }

    .content {
        font-family: inherit;
        justify-self: center;
        padding: 7rem;

        span {
            font-family: inherit;
            font-size: 2.5rem;
        }

        .about-card {
            font-family: inherit;
            display: flex;
            margin-top: 3em;
            flex-wrap: wrap;
            justify-content: space-between;

            .card {
                font-family: inherit;
                width: 300px;
                height: 200px;
                margin: 20px;
                box-shadow: 2px 2px 5px black;
                background-color: rgba($color: $BackgroundColor, $alpha: 0.1);
                border-radius: 10px;
                text-align: center;

                .about-card-title {
                    font-size: 2rem;
                    font-weight: bold;
                    position: relative;
                    top: 40%;
                    transition: all 0.5s ease;
                }

                .about-card-content {
                    font-family: inherit;
                    position: relative;
                    top: 20%;
                    animation: card-content-move 0.5s 1;
                }

                @keyframes card-content-move {
                    from {
                        top: 40%;
                    }

                    to {
                        top: 20%;
                    }
                }

                li {
                    font-family: inherit;
                    font-weight: bold;
                    text-decoration: none;
                    list-style: none;
                    font-size: 1rem;
                    padding-top: 2px;
                }

                &:hover {
                    .about-card-title {
                        top: 5%;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.Contact {
    padding: 5vw;
    padding-bottom: 2vw;
    background-image: radial-gradient(#303035 5%, #000014 95%);

    .contact-title {
        position: relative;
        z-index: 2;
    }

    .content {
        ul {
            display: flex;
            margin: 5vw;
            justify-content: center;

            li {
                text-decoration: none;
                list-style: none;
                font-size: 1.2rem;
                cursor: pointer;
            }

            a {
                text-decoration: none;
                padding: 10px;
                cursor: pointer;
                border: 4px solid rgba(0, 0, 0, 0);
                border-radius: 10px;

                &:hover {
                    border: 4px solid #b8c6d3;
                    background-color: #333232;
                    color: #b8c6d3;
                    box-shadow: inset 0 0 10px $SecondaryColor;
                }
            }

            a:not(:first-child) {
                margin-left: 10vw;
            }
        }
    }
}

@import "Project";
@import "Contact";
@import "Mobile";
