@import "Config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $PrimearyColor;
    font-family: Orbitron;
    cursor: default;
    font-weight: normal;
}

.App {
    background: $BackgroundColor;
}

nav {
    width: 100%;
    margin: 0px 100px;
    color: $PrimearyColor;
    z-index: 10;

    .Logo {
        margin-top: 50px;
        position: absolute;
        display: flex;
        align-items: center;

        img {
            width: 4rem;
            max-width: 100%;
            height: 100%;
        }

        h1 {
            height: 100%;
        }
    }

    .Menu {
        position: fixed;
        width: 500px;
        margin-top: 100px;
        margin-left: 600px;
        margin-right: 100px;
        text-align: bottom;
        align-self: flex-end;
        .ScrollLink {
            margin-right: 80px;

            h5 {
                display: inline;
                font-size: 25px;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

.Home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#303035 5%, #000014 95%);

    .desc {
        font-size: 2.5rem;
        margin: 10rem 10rem 5rem 10rem;
        line-height: 5rem;
        box-sizing: border-box;
        text-align: center;
        cursor: default;

        span {
            display: block;
        }

        h2 {
            display: inline;
        }

        // text glowing effect
        .myName {
            animation: glow 2500ms linear infinite 2000ms;
            font-weight: bold;
            font-size: 3em;
            display: inline;
        }

        @keyframes glow {
            40% {
                text-shadow: 0 0 10px #fff;
            }
        }
    }

    .buttons {
        button {
            padding: 1rem 0;
            border-radius: 10px;
            width: 15rem;
            font-size: 1.5rem;
            font-weight: bold;

            &.work {
                border: 4px solid $PrimearyColor;
                background: $PrimearyColor;
                color: $BackgroundColor;
                margin-right: 5rem;
            }

            &.contact {
                border: 4px solid $PrimearyColor;
                background: $PrimearyColor;
                color: $BackgroundColor;
            }

            &:hover {
                border: 4px solid #b8c6d3;
                background-color: #333232;
                color: #b8c6d3;
                box-shadow: inset 0 0 10px #cf5353;
                cursor: pointer;
            }
        }
    }
}

.About {
    @include pageSetup;
    height: 100vh;

    background-image: radial-gradient(#303035 5%, #000014 95%);

    .right {
        justify-self: center;
        span {
            font-size: 3rem;
            li {
                text-decoration: none;
                list-style: none;
                font-size: 2rem;
            }
        }
    }
}

.Project {
    background-image: radial-gradient(#303035 5%, #000014 95%);
    display: flex;
    flex-flow: column;
    padding: 100px;

    .card {
        width: 80%;
        height: 60vh;
        display: grid;
        margin: 10%;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 2fr 8fr;
        padding: 100px;
        box-sizing: border-box;
        border-radius: 20px;

        &:hover {
            animation: cardmove linear 0.5s;
            box-shadow: 0px 0px 3px 1px white;
        }

        @keyframes cardmove {
            from {
                box-shadow: none;
            }
            to {
                box-shadow: 0px 0px 3px 1px white;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

            &.odd {
                grid-area: 1 / 1 / 3 / 2;
            }

            &.even {
                grid-area: 1 / 3 / 3 / 4;
            }
        }

        .content {
            padding: 20px;
            padding-left: 30px;

            &.odd {
                grid-area: 1 / 2 / 3 / 4;
            }

            &.even {
                grid-area: 1 / 1 / 3 / 3;
            }

            .title {
                display: flex;
                h1 {
                    display: inline;
                    font-size: 2.5rem;
                }

                button {
                    border-radius: 10px;
                    font-size: 1rem;
                    padding: 0.5em;
                    margin-left: 20px;
                    border: 4px solid $PrimearyColor;
                    background: $PrimearyColor;
                    color: $BackgroundColor;
                    cursor: pointer;

                    &:hover {
                        border: 4px solid #b8c6d3;
                        background-color: #333232;
                        color: #b8c6d3;
                        box-shadow: inset 0 0 10px #cf5353;
                    }
                }
            }

            p {
                padding: 20px 0;
                max-width: 85%;
                word-wrap: break-word;
                font-size: 1.2rem;
                font-family: Montserrat;
                font-weight: normal;
            }
        }

        &.clostat {
            background: linear-gradient(
                110.73deg,
                rgba(0, 0, 20, 0.31) 0%,
                rgba(255, 251, 245, 0.08) 18.71%,
                rgba(255, 251, 245, 0.03) 74.04%,
                rgba(255, 251, 245, 0) 100%
            );
        }

        &.markit {
            background: linear-gradient(
                290.74deg,
                rgba(0, 0, 20, 0.31) 0%,
                rgba(244, 128, 88, 0.05) 18.71%,
                rgba(244, 128, 88, 0.03) 74.04%,
                rgba(244, 128, 88, 0) 100%
            );
        }

        &.shoperone {
            background: linear-gradient(
                110.73deg,
                rgba(0, 0, 20, 0.31) 0%,
                rgba(247, 187, 109, 0.05) 18.71%,
                rgba(247, 187, 109, 0.03) 74.04%,
                rgba(247, 187, 109, 0) 100%
            );
        }

        &.ptt {
            background: linear-gradient(
                290.74deg,
                rgba(0, 0, 20, 0.31) 0%,
                rgba(103, 172, 201, 0.05) 18.71%,
                rgba(103, 172, 201, 0.03) 74.04%,
                rgba(103, 172, 201, 0) 100%
            );
        }
    }
}

@import "Project";
@import "Contact";
@import "mobile";
