@import "Config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $PrimearyColor;
    font-family: FaxineSky;
}

.App {
    background: $BackgroundColor;
}

nav {
    width: 100%;
    margin: 0px 100px;
    color: $PrimearyColor;
    z-index: 10;

    .Logo {
        margin-top: 50px;
        position: absolute;

        img {
            width: 4rem;
            max-width: 100%;
            height: 100%;
        }
    }

    .Menu {
        position: fixed;
        width: 500px;
        margin-top: 100px;
        margin-left: 600px;
        margin-right: 100px;
        text-align: bottom;
        align-self: flex-end;
        .ScrollLink {
            margin-right: 80px;

            h5 {
                display: inline;
                font-size: 25px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.Home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .desc {
        font-size: 2.5rem;
        margin: 10rem 10rem 5rem 10rem;
        line-height: 5rem;
        box-sizing: border-box;
        text-align: center;

        span {
            display: block;
        }

        h2 {
            display: inline;
        }

        // text glowing effect
        .myName {
            animation: glow 2500ms linear infinite 2000ms;
            font-weight: bold;
            font-size: 3em;
            display: inline;
        }

        @keyframes glow {
            40% {
                text-shadow: 0 0 8px #fff;
            }
        }
    }

    .buttons {
        button {
            padding: 1rem 0;
            border-radius: 10px;
            width: 15rem;
            font-size: 1.5rem;
            font-weight: bold;

            &.work {
                border: 4px solid $PrimearyColor;
                background-color: $BackgroundColor;

                margin-right: 5rem;
            }

            &.contact {
                border: 4px solid $PrimearyColor;
                background: $PrimearyColor;
                color: $BackgroundColor;
            }
        }
    }
}

.Project {
    @include pageSetup;

    height: 100%;

    card {
        flex-grow: 1;
        margin: 20px;
        margin-top: 50px;
        align-self: center;
        justify-self: center;
        border: 5px solid $PrimearyColor;
        width: 300px;
        height: 400px;
    }
}

.About {
    @include pageSetup;
    height: 100vh;
}

.Contact {
    @include pageSetup;
}

@import "mobile";
