@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSky.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyBold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyItalic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ddefff;
  font-family: FaxineSky;
}

.App {
  background: #000014;
}

nav {
  width: 100%;
  margin: 0px 100px;
  color: #ddefff;
  z-index: 10;
}

nav .Logo {
  margin-top: 50px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .Logo img {
  width: 4rem;
  max-width: 100%;
  height: 100%;
}

nav .Logo h1 {
  height: 100%;
}

nav .Menu {
  position: fixed;
  width: 500px;
  margin-top: 100px;
  margin-left: 600px;
  margin-right: 100px;
  text-align: bottom;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

nav .Menu .ScrollLink {
  margin-right: 80px;
}

nav .Menu .ScrollLink h5 {
  display: inline;
  font-size: 25px;
}

nav .Menu .ScrollLink h5:hover {
  text-decoration: underline;
}

.Home {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: radial-gradient(#303035 5%, #000014 95%);
}

.Home .desc {
  font-size: 2.5rem;
  margin: 10rem 10rem 5rem 10rem;
  line-height: 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.Home .desc span {
  display: block;
}

.Home .desc h2 {
  display: inline;
}

.Home .desc .myName {
  -webkit-animation: glow 2500ms linear infinite 2000ms;
          animation: glow 2500ms linear infinite 2000ms;
  font-weight: bold;
  font-size: 3em;
  display: inline;
}

@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 10px #fff;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 10px #fff;
  }
}

.Home .buttons button {
  padding: 1rem 0;
  border-radius: 10px;
  width: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.Home .buttons button.work {
  border: 4px solid #ddefff;
  background: #ddefff;
  color: #000014;
  margin-right: 5rem;
}

.Home .buttons button.contact {
  border: 4px solid #ddefff;
  background: #ddefff;
  color: #000014;
}

.Home .buttons button:hover {
  border: 4px solid #b8c6d3;
  background-color: #333232;
  color: #b8c6d3;
  -webkit-box-shadow: inset 0 0 10px #cf5353;
          box-shadow: inset 0 0 10px #cf5353;
}

.About {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  background-image: radial-gradient(#303035 5%, #000014 95%);
}

.About .left {
  margin-top: 200px;
  margin-left: 100px;
  font-size: 50px;
  width: 20%;
}

.About .right {
  margin-top: 200px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.About .right {
  -ms-grid-column-align: center;
      justify-self: center;
}

.About .right span {
  font-size: 3rem;
}

.About .right span li {
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSky.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyBold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyItalic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

.Project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: radial-gradient(#303035 5%, #000014 95%);
}

.Project .left {
  margin-top: 200px;
  margin-left: 100px;
  font-size: 50px;
  width: 20%;
}

.Project .right {
  margin-top: 200px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.Project .card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px;
  margin-top: 50px;
  background-color: #333232;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  text-align: center;
  overflow: hidden;
}

.Project .title {
  height: 20%;
  padding: 25px;
  font-weight: bold;
  font-size: 2rem;
}

.Project .mobile {
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Project .mobile img {
  width: 30%;
  height: 100%;
  padding: 10px;
}

.Project .desktop {
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Project .desktop img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.Project .buttons {
  height: 20%;
  text-align: center;
}

.Project .buttons button {
  border-radius: 10px;
  margin: 1rem 2rem 0rem 2rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: 4px solid #ddefff;
  background: #ddefff;
  color: #000014;
}

.Project .buttons button:hover {
  border: 4px solid #b8c6d3;
  background-color: #333232;
  color: #b8c6d3;
  -webkit-box-shadow: inset 0 0 10px #cf5353;
          box-shadow: inset 0 0 10px #cf5353;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSky.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyBold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyItalic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

.Contact {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-image: radial-gradient(#303035 5%, #000014 95%);
}

.Contact form {
  margin-top: 200px;
  margin-right: auto;
  margin-left: 200px;
  display: -ms-grid;
  display: grid;
  grid: 1fr 4fr 1fr/ 2fr 3fr;
  background-color: #333232;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

.Contact form .title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  padding-top: 1rem;
  padding-left: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3rem;
}

.Contact form .info {
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}

.Contact form .info .name_field {
  margin: 1rem;
}

.Contact form .info .email_field {
  margin: 1rem;
}

.Contact form .info input {
  width: 100%;
  background: none;
  border: none;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 0.02rem solid #ddefff;
}

.Contact form .info input[type="text"]:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 5px #000000;
          box-shadow: inset 0 0 5px #000000;
  background-color: #424141;
  border-radius: 10px;
  border: none;
}

.Contact form .message {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
}

.Contact form .message textarea {
  width: 100%;
  background: none;
  border: none;
  padding: 1rem 0;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 0.02rem solid #ddefff;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(0px, -7px);
          transform: translate(0px, -7px);
}

.Contact form .message textarea:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 5px #000000;
          box-shadow: inset 0 0 5px #000000;
  background-color: #424141;
  border-radius: 20px 10px 20px 10px;
  border: none;
}

.Contact form button {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  border: 4px solid #ddefff;
  background: #ddefff;
  color: #000014;
  padding: 0.6rem 0;
  border-radius: 10px;
  width: 15rem;
  font-size: 1.2rem;
  font-weight: bold;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Contact form button:hover {
  border: 4px solid #b8c6d3;
  background-color: #333232;
  color: #b8c6d3;
  -webkit-box-shadow: inset 0 0 10px #cf5353;
          box-shadow: inset 0 0 10px #cf5353;
}

.Contact form p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5rem;
}

.Contact form p.success-msg {
  color: #8cc58c;
}

.Contact form p.err-msg {
  color: #ff2828;
}
/*# sourceMappingURL=Main.css.map */