@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSky.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyBold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyItalic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FaxineSky";
  src: url(../Fonts/FaxineSkyBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Orbitron";
  src: url(../Fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../Fonts/Montserrat/Montserrat-Regular.ttf);
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  nav {
    padding: 60px 5px 35px 0px;
  }
  nav .ScrollLink {
    margin-right: 1rem;
  }
  nav .ScrollLink h4 {
    padding: 5px;
    font-size: 1.2rem;
    border: 2px solid rgba(0, 0, 0, 0);
  }
  nav .ScrollLink h4:hover {
    border: 2px solid #b8c6d3;
    background-color: #333232;
    color: #b8c6d3;
    -webkit-box-shadow: inset 0 0 10px #cf5353;
            box-shadow: inset 0 0 10px #cf5353;
  }
  .Home {
    padding: 3rem;
  }
  .Home .desc {
    font-size: 1.3rem;
  }
  .Home .buttons {
    right: 8vw;
  }
  .Home .buttons button {
    padding: 0.8rem;
    font-size: 1.2rem;
  }
  .Project {
    padding: 5vw;
  }
  .Project .card {
    width: 85%;
    padding: 3vw;
  }
  .Project .card .desktop {
    display: initial;
  }
  .Project .card .mobile {
    display: none;
  }
  .Project .card img {
    width: 200px;
  }
  .Project .card .content {
    padding: 10px;
    padding-left: 15px;
  }
  .Project .card .content .title {
    padding-top: 20px;
  }
  .Project .card .content .title h1 {
    font-size: 2rem;
  }
  .Project .card .content .title button {
    margin-top: 2px;
    font-size: 0.7rem;
    padding: 0.5em;
  }
  .Project .card .content p {
    max-width: 95%;
  }
  .About .content {
    padding: 5rem;
  }
  .About .content span {
    font-family: inherit;
    font-size: 2rem;
  }
  .About .content .about-card {
    font-family: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .About .content .about-card .card {
    font-family: inherit;
    font-size: 2em;
  }
  .About .content .about-card .card li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Nav nav {
    width: 50%;
    height: 100vh;
    right: 0;
    border-radius: 10px;
    margin-top: 0px;
    padding: 20% 0px 30% 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Nav nav.Hide {
    display: none;
  }
  .Nav nav .ScrollLink {
    margin: 0px;
    text-align: center;
  }
  .Nav nav .ScrollLink h4 {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0);
  }
  .Nav nav .ScrollLink h4:hover {
    border: 2px solid #b8c6d3;
    background-color: #333232;
    color: #b8c6d3;
    -webkit-box-shadow: inset 0 0 10px #cf5353;
            box-shadow: inset 0 0 10px #cf5353;
  }
  .Nav .menu-btn {
    position: fixed;
    z-index: 3;
    top: 3rem;
    right: 10%;
    cursor: pointer;
  }
  .Nav .menu-btn .btn-line {
    cursor: pointer;
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #ddefff;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .Nav .menu-btn.close {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .Nav .menu-btn.close .btn-line:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  .Nav .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }
  .Nav .menu-btn.close .btn-line:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(7px, -6px);
            transform: rotate(-45deg) translate(7px, -6px);
  }
  .Home {
    padding: 3rem;
    height: auto;
  }
  .Home .Logo img {
    width: 2.2rem;
  }
  .Home .Logo h5 {
    font-size: 1rem;
  }
  .Home .desc {
    font-size: 1rem;
    margin-top: 8rem;
    text-align: center;
  }
  .Home .desc .desktop {
    display: initial;
  }
  .Home .desc .mobile {
    display: none;
  }
  .Home .buttons {
    position: relative;
    right: 0;
    text-align: center;
  }
  .Home .buttons button {
    font-size: 1rem;
  }
  .Home .buttons button.work {
    border-width: 3px;
    margin-right: 3rem;
  }
  .Home .buttons button.contact {
    border-width: 3px;
  }
  .Home .buttons button:hover {
    border: 3px solid #b8c6d3;
    background-color: #333232;
    color: #b8c6d3;
    -webkit-box-shadow: inset 0 0 10px #cf5353;
            box-shadow: inset 0 0 10px #cf5353;
    cursor: pointer;
  }
  .Project {
    padding: 5vw;
    max-height: auto;
  }
  .Project .card {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 10% 0px;
  }
  .Project .card img {
    padding: 10px;
    width: 180px;
  }
  .Project .card .content {
    padding-top: 90px;
    padding-left: 15px;
  }
  .Project .card .content .title h1 {
    font-size: 1.6rem;
  }
  .Project .card .content .title button {
    font-size: 0.7rem;
    padding: 0.5em;
  }
  .Project .card .content p {
    max-width: 95%;
    font-size: 1rem;
  }
  .About .content {
    padding: 2rem;
  }
  .About .content span {
    font-family: inherit;
    font-size: 1.5rem;
  }
  .About .content .about-card {
    font-family: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .About .content .about-card .card {
    font-size: 2em;
  }
  .About .content .about-card .card ul {
    font-family: inherit;
  }
  .About .content .about-card .card li {
    font-family: inherit;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .Nav .menu-btn {
    top: 2rem;
  }
  .Home {
    padding: 2rem;
    max-height: auto;
  }
  .Home .Logo img {
    width: 2.2rem;
  }
  .Home .Logo h5 {
    font-size: 1rem;
  }
  .Home .desc {
    font-size: 1rem;
    margin-top: 5rem;
    line-height: 3rem;
  }
  .Home .desc .myName {
    font-size: 2.5em;
  }
  .Home .desc .myRole {
    display: block;
  }
  .Home .desc .fall {
    display: block;
  }
  .Home .buttons {
    font-weight: normal;
  }
  .Home .buttons button {
    padding: 0.8rem;
    font-size: 3vw;
  }
  .Home .buttons button.work {
    border: 2px solid #ddefff;
    margin-right: 5vw;
  }
  .Home .buttons button.contact {
    border: 2px solid #ddefff;
  }
  .Home .buttons button:hover {
    border: 2px solid #b8c6d3;
    background-color: #333232;
    color: #b8c6d3;
    -webkit-box-shadow: inset 0 0 10px #cf5353;
            box-shadow: inset 0 0 10px #cf5353;
    cursor: pointer;
  }
  .Project {
    max-height: auto;
  }
  .Project .card {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Project .card .desktop {
    display: none;
  }
  .Project .card .mobile {
    display: initial;
  }
  .Project .card img {
    padding: 10px;
    width: 180px;
  }
  .Project .card .content {
    padding: 10px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Project .card .content .title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .Project .card .content p {
    max-width: 100%;
    padding: 20px 10px;
    text-align: center;
  }
  .About .content {
    padding: 2rem;
  }
  .About .content span {
    font-family: inherit;
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=mobile.css.map */