@import "Config";
.Project {
    background-image: radial-gradient(#303035 5%, #000014 95%);
    display: flex;
    flex-flow: column;
    padding: 5vw;

    .project-title {
        align-self: baseline;
        z-index: 2;
    }

    .card {
        width: 80%;
        height: 60vh;
        display: grid;
        margin: 10%;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 2fr 8fr;
        padding: 5vw;
        box-sizing: border-box;
        border-radius: 20px;

        &:hover {
            animation: cardmove linear 0.5s;
            box-shadow: 0px 0px 3px 1px white;
        }

        @keyframes cardmove {
            from {
                box-shadow: none;
            }
            to {
                box-shadow: 0px 0px 3px 1px white;
            }
        }

        .desktop {
            display: initial;
        }

        .mobile {
            display: none;
        }

        .demo {
            width: 250px;
            height: 100%;
            object-fit: contain;

            &.odd {
                grid-area: 1 / 1 / 3 / 2;
            }

            &.even {
                grid-area: 1 / 3 / 3 / 4;
            }
        }

        .content {
            padding: 20px;
            padding-left: 30px;

            &.odd {
                grid-area: 1 / 2 / 3 / 4;
            }

            &.even {
                grid-area: 1 / 1 / 3 / 3;
            }

            .title {
                display: flex;
                h1 {
                    display: inline;
                    font-size: 2.5rem;
                }

                button {
                    border-radius: 10px;
                    font-size: 1rem;
                    padding: 0.5em;
                    margin-left: 20px;
                    border: 4px solid $PrimearyColor;
                    background: $PrimearyColor;
                    color: $BackgroundColor;
                    cursor: pointer;

                    &:hover {
                        border: 4px solid #b8c6d3;
                        background-color: #333232;
                        color: #b8c6d3;
                        box-shadow: inset 0 0 10px #cf5353;
                    }
                }
            }

            p {
                padding: 20px 0;
                max-width: 85%;
                word-wrap: break-word;
                font-size: 1.2rem;
                font-family: Montserrat;
                font-weight: normal;
                letter-spacing: 1px;
            }
        }

        &.autoshop {
            background: linear-gradient(
                    110.73deg,
                    rgba(0, 0, 20, 0.31) 0%,
                    rgba(255, 251, 245, 0.08) 18.71%,
                    rgba(255, 251, 245, 0.03) 74.04%,
                    rgba(255, 251, 245, 0) 100%
                ),
                url("../images/Autoshop/Autoshop Logo Transparent.png") no-repeat;
            background-size: auto, 500px;
            background-position: 150% -30%;
        }

        &.sellshop {
            background: linear-gradient(
                    110.73deg,
                    rgba(0, 0, 20, 0.31) 0%,
                    rgba(255, 251, 245, 0.08) 18.71%,
                    rgba(255, 251, 245, 0.03) 74.04%,
                    rgba(255, 251, 245, 0) 100%
                ),
                url("../images/Sellshop/Sellshop Logo Transparent.png") no-repeat;
            background-size: auto, 500px;
            background-position: 60% -20%;
        }

        &.clostat {
            background: linear-gradient(
                    110.73deg,
                    rgba(0, 0, 20, 0.31) 0%,
                    rgba(255, 251, 245, 0.08) 18.71%,
                    rgba(255, 251, 245, 0.03) 74.04%,
                    rgba(255, 251, 245, 0) 100%
                ),
                url("../images/CloStat/CloStat Logo Transparent.png") no-repeat;
            background-size: auto, 500px;
            background-position: 150% -100%;
        }

        &.markit {
            background: linear-gradient(
                    290.74deg,
                    rgba(0, 0, 20, 0.31) 0%,
                    rgba(244, 128, 88, 0.05) 18.71%,
                    rgba(244, 128, 88, 0.03) 74.04%,
                    rgba(244, 128, 88, 0) 100%
                ),
                url("../images/MarkIt/MarkIt Logo Transparent.png") no-repeat;
            background-size: auto, 1500px;
            background-position: -30% 90%;
        }

        &.shoperone {
            background: linear-gradient(
                    110.73deg,
                    rgba(0, 0, 20, 0.31) 0%,
                    rgba(247, 187, 109, 0.05) 18.71%,
                    rgba(247, 187, 109, 0.03) 74.04%,
                    rgba(247, 187, 109, 0) 100%
                ),
                url("../images/Shoperone/Shoperone Logo Transparent.png")
                    no-repeat;
            background-size: auto, 600px;
            background-position: 150% -60%;
        }

        &.ptt {
            background: linear-gradient(
                    290.74deg,
                    rgba(0, 0, 20, 0.31) 0%,
                    rgba(103, 172, 201, 0.05) 18.71%,
                    rgba(103, 172, 201, 0.03) 74.04%,
                    rgba(103, 172, 201, 0) 100%
                ),
                url("../images/Paint The Town/PTT Logo Transparent.png")
                    no-repeat;
            background-size: auto, 700px;
            background-position: 150% 100%;
        }
    }
}
