$TextColor: #ddefff;

@font-face {
    font-family: Slant;
    src: url(./Fonts/FaxineSky.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $TextColor;
    font-family: Slant;
}
.App {
    background: #000014;
}

nav {
    position: fixed;
    width: 100%;
    margin: 0px 100px;
    color: $TextColor;
    display: flex;
    z-index: 10;

    .Logo {
        margin-top: 50px;

        img {
            width: 60px;
            max-width: 100%;
            height: 100%;
        }
    }

    .Menu {
        width: 500px;
        margin-left: 600px;
        margin-right: 100px;
        text-align: bottom;
        align-self: flex-end;
        .ScrollLink {
            margin-right: 80px;

            h5 {
                display: inline;
                font-size: 25px;
            }
        }
    }
}

.Home {
    width: 100%;
    height: 100vh;
    display: flex;

    span {
        font-size: 60px;
        align-self: center;
        justify-self: center;
        margin-left: 100px;
        width: 65%;

        h1 {
            font-size: 50px;
        }
    }

    .buttons {
        align-self: center;
        justify-self: center;
        width: auto;

        button {
            border-radius: 10px;
            border: none;
            color: black;
            width: 150px;
            padding: 10px;
            font-size: 16px;
            display: block;
            margin: 100px 0px;

            background-color: black;
            color: white;
        }

        .work {
            border: 4px solid $TextColor;
        }

        .contact {
            border: 4px solid $TextColor;
            background: $TextColor;
            color: #000014;
        }
    }
}

.Project {
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;

    .left {
        margin-top: 200px;
        margin-left: 100px;
        font-size: 50px;
        width: 20%;
    }

    .right {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-content: stretch;
    }

    card {
        flex-grow: 1;
        margin: 20px;
        margin-top: 50px;
        align-self: center;
        justify-self: center;
        border: 5px solid $TextColor;
        height: 500px;
    }
}

.About {
    width: 100%;
    height: 100vh;
}

.Contact {
    width: 100%;
    height: 100vh;
}
